name: Lint on Pull Request
on:
  pull_request:
    branches:
      - 'feature/**'
      - 'bug/gh-**'
      - 'issue/gh-**'
      - staging
      - master

    paths-ignore:
      - '.github/**'
      - '.vscode/**'
      - 'assets/**'
      - 'docker/**'
      - '.idea/**'
      - '.dockerignore'
      - '.gitignore'
      - '**.md'
      - 'LICENSE'
      - 'renovate.json'
jobs:
  lint:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: arisu
          POSTGRES_PASSWORD: owowhatsthis
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - '5432:5432'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Setup Prisma schema
        run: |
          echo "DATABASE_URL=postgresql://arisu:owowhatsthis@localhost:5432/tsubaki?schema=arisu" >> ~/.env
          make db.generate

      - name: Install dependencies
        run: go mod download && go get

      - name: Build project to see if it compiles
        run: make build

      - name: Format project for any formatting to apply
        run: make fmt
